In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('summer-products.csv')

In [3]:
df.head()

,title,title_orig,price,retail_price,currency_buyer,units_sold,uses_ad_boosts,rating,rating_count,rating_five_count,...,merchant_rating_count,merchant_rating,merchant_id,merchant_has_profile_picture,merchant_profile_picture,product_url,product_picture,product_id,theme,crawl_month
0,2020 Summer Vintage Flamingo Print Pajamas Se...,2020 Summer Vintage Flamingo Print Pajamas Se...,16.00,14,EUR,100,0,3.76,54,26.0,...,568,4.128521,595097d6a26f6e070cb878d1,0,NaN,https://www.wish.com/c/5e9ae51d43d6a96e303acdb0,https://contestimg.wish.com/api/webimage/5e9ae...,5e9ae51d43d6a96e303acdb0,summer,2020-08
1,SSHOUSE Summer Casual Sleeveless Soirée Party ...,Women's Casual Summer Sleeveless Sexy Mini Dress,8.00,22,EUR,20000,1,3.45,6135,2269.0,...,17752,3.899673,56458aa03a698c35c9050988,0,NaN,https://www.wish.com/c/58940d436a0d3d5da4e95a38,https://contestimg.wish.com/api/webimage/58940...,58940d436a0d3d5da4e95a38,summer,2020-08
2,2020 Nouvelle Arrivée Femmes Printemps et Été ...,2020 New Arrival Women Spring and Summer Beach...,8.00,43,EUR,100,0,3.57,14,5.0,...,295,3.989831,5d464a1ffdf7bc44ee933c65,0,NaN,https://www.wish.com/c/5ea10e2c617580260d55310a,https://contestimg.wish.com/api/webimage/5ea10...,5ea10e2c617580260d55310a,summer,2020-08
3,Hot Summer Cool T-shirt pour les femmes Mode T...,Hot Summer Cool T Shirt for Women Fashion Tops...,8.00,8,EUR,5000,1,4.03,579,295.0,...,23832,4.020435,58cfdefdacb37b556efdff7c,0,NaN,https://www.wish.com/c/5cedf17ad1d44c52c59e4aca,https://contestimg.wish.com/api/webimage/5cedf...,5cedf17ad1d44c52c59e4aca,summer,2020-08
4,Femmes Shorts d'été à lacets taille élastique ...,Women Summer Shorts Lace Up Elastic Waistband ...,2.72,3,EUR,100,1,3.10,20,6.0,...,14482,4.001588,5ab3b592c3911a095ad5dadb,0,NaN,https://www.wish.com/c/5ebf5819ebac372b070b0e70,https://contestimg.wish.com/api/webimage/5ebf5...,5ebf5819ebac372b070b0e70,summer,2020-08

In [10]:
df.tail(2)

,title,title_orig,price,retail_price,currency_buyer,units_sold,uses_ad_boosts,rating,rating_count,rating_five_count,...,merchant_rating_count,merchant_rating,merchant_id,merchant_has_profile_picture,merchant_profile_picture,product_url,product_picture,product_id,theme,crawl_month
1571,Mode femmes d'été sans manches robes col en V ...,Fashion Women Summer Sleeveless Dresses V Neck...,13.0,11,EUR,100,0,2.50,2,0.0,...,31,3.774194,5d56b32c40defd78043d5af9,0,NaN,https://www.wish.com/c/5eda07ab0e295c2097c36590,https://contestimg.wish.com/api/webimage/5eda0...,5eda07ab0e295c2097c36590,summer,2020-08
1572,Pantalon de yoga pour femmes à la mode Slim Fi...,Fashion Women Yoga Pants Slim Fit Fitness Runn...,7.0,6,EUR,100,1,4.07,14,8.0,...,7023,4.235939,5a409cf87b584e7951b2e25f,0,NaN,https://www.wish.com/c/5e857321f53c3d2d8f25e7ed,https://contestimg.wish.com/api/webimage/5e857...,5e857321f53c3d2d8f25e7ed,summer,2020-08

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1573 entries, 0 to 1572
Data columns (total 43 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   title                         1573 non-null   object
 1   title_orig                    1573 non-null   object
 2   price                         1573 non-null   float64
 3   retail_price                  1573 non-null   int64
 4   currency_buyer                1573 non-null   object
 5   units_sold                    1573 non-null   int64
 6   uses_ad_boosts                1573 non-null   int64
 7   rating                        1573 non-null   float64
 8   rating_count                  1573 non-null   int64
 9   rating_five_count             1528 non-null   float64
 10  rating_four_count             1528 non-null   float64
 11  rating_three_count            1528 non-null   float64
 12  rating_two_count              1528 non-null   float64
 13  rating_one_count              1528 non-null   float64
 14  badges_count                  1573 non-null   int64
 15  badge_local_product           1573 non-null   int64
 16  badge_product_quality         1573 non-null   int64
 17  badge_fast_shipping           1573 non-null   int64
 18  tags                          1573 non-null   object
 19  product_color                 1532 non-null   object
 20  product_variation_size_id     1559 non-null   object
 21  product_variation_inventory   1573 non-null   int64
 22  shipping_option_name          1573 non-null   object
 23  shipping_option_price         1573 non-null   int64
 24  shipping_is_express           1573 non-null   int64
 25  countries_shipped_to          1573 non-null   int64
 26  inventory_total               1573 non-null   int64
 27  has_urgency_banner            473 non-null    float64
 28  urgency_text                  473 non-null    object
 29  origin_country                1556 non-null   object
 30  merchant_title                1573 non-null   object
 31  merchant_name                 1569 non-null   object
 32  merchant_info_subtitle        1572 non-null   object
 33  merchant_rating_count         1573 non-null   int64
 34  merchant_rating               1573 non-null   float64
 35  merchant_id                   1573 non-null   object
 36  merchant_has_profile_picture  1573 non-null   int64
 37  merchant_profile_picture      226 non-null    object
 38  product_url                   1573 non-null   object
 39  product_picture               1573 non-null   object
 40  product_id                    1573 non-null   object
 41  theme                         1573 non-null   object
 42  crawl_month                   1573 non-null   object
dtypes: float64(9), int64(15), object(19)
memory usage: 528.6+ KB

In [9]:
df.columns

Index(['title', 'title_orig', 'price', 'retail_price', 'currency_buyer',
       'units_sold', 'uses_ad_boosts', 'rating', 'rating_count',
       'rating_five_count', 'rating_four_count', 'rating_three_count',
       'rating_two_count', 'rating_one_count', 'badges_count',
       'badge_local_product', 'badge_product_quality', 'badge_fast_shipping',
       'tags', 'product_color', 'product_variation_size_id',
       'product_variation_inventory', 'shipping_option_name',
       'shipping_option_price', 'shipping_is_express', 'countries_shipped_to',
       'inventory_total', 'has_urgency_banner', 'urgency_text',
       'origin_country', 'merchant_title', 'merchant_name',
       'merchant_info_subtitle', 'merchant_rating_count', 'merchant_rating',
       'merchant_id', 'merchant_has_profile_picture',
       'merchant_profile_picture', 'product_url', 'product_picture',
       'product_id', 'theme', 'crawl_month'],
      dtype='object')

In [14]:
df['title'].value_counts()

title
Nouvelle mode d'été femmes robe décontractée col rond lâche Big Swing jupe sans manches Soild couleur robe de plage                                                                      24
Mini robe de soirée décontractée sans manches pour femmes                                                                                                                                12
Femmes d'été Sling Dress V-cou Floral Strap plissé Casual Pocket Large Dress                                                                                                              9
Tissu taille formateur gilet chaud shaper été shaperwear minceur réglable sueur ceinture corps shaper                                                                                     9
Pantalon à lacets à la mode pour femmes d'été, plus la taille Pantalon court à taille haute décontracté                                                                                   9
                                                                                                                                                                                         ..
T-shirt Femme 4 Couleurs Mode d'été Femme Couture Dentelle Sexy Couture Couture Couleur unie T-shirt Femme Femme Coupe Mince Taille Plus Grande Chemisier T-shirt T-shirt Taille Plus     1
Femmes deux pièces ensemble imprimé vague rayé hauts sans manches + jupes courtes excellent                                                                                               1
Pandolah Hot Women Maillot de bain une pièce Maillot de bain à pois Maillot de bain Push up Maillot de bain grande taille Monokini M-3XL                                                  1
Femmes Mode Lâche Casual Sans Manches Fleur Imprimer Col En V D'été Gilet Camisole Casual Plus La Taille Lâche Débardeurs                                                                 1
Pantalon de yoga pour femmes à la mode Slim Fit Fitness Running Leggings                                                                                                                  1
Name: count, Length: 1201, dtype: int64

In [16]:
df[['title','title_orig','price','retail_price','units_sold']].head()

,title,title_orig,price,retail_price,units_sold
0,2020 Summer Vintage Flamingo Print Pajamas Se...,2020 Summer Vintage Flamingo Print Pajamas Se...,16.00,14,100
1,SSHOUSE Summer Casual Sleeveless Soirée Party ...,Women's Casual Summer Sleeveless Sexy Mini Dress,8.00,22,20000
2,2020 Nouvelle Arrivée Femmes Printemps et Été ...,2020 New Arrival Women Spring and Summer Beach...,8.00,43,100
3,Hot Summer Cool T-shirt pour les femmes Mode T...,Hot Summer Cool T Shirt for Women Fashion Tops...,8.00,8,5000
4,Femmes Shorts d'été à lacets taille élastique ...,Women Summer Shorts Lace Up Elastic Waistband ...,2.72,3,100

In [18]:
df['price'].sum()

13095.810000000001

In [19]:
df['price'].mean()

8.325371900826447

In [25]:
df['price'].max()

49.0

In [26]:
df['price'].min()

1.0

In [27]:
df['New-price']=df['price'] * df['retail_price']

In [28]:
df.head(3)

,title,title_orig,price,retail_price,currency_buyer,units_sold,uses_ad_boosts,rating,rating_count,rating_five_count,...,merchant_id,merchant_has_profile_picture,merchant_profile_picture,product_url,product_picture,product_id,theme,crawl_month,price_percentage,New-price
0,2020 Summer Vintage Flamingo Print Pajamas Se...,2020 Summer Vintage Flamingo Print Pajamas Se...,16.0,14,EUR,100,0,3.76,54,26.0,...,595097d6a26f6e070cb878d1,0,NaN,https://www.wish.com/c/5e9ae51d43d6a96e303acdb0,https://contestimg.wish.com/api/webimage/5e9ae...,5e9ae51d43d6a96e303acdb0,summer,2020-08,625.0,224.0
1,SSHOUSE Summer Casual Sleeveless Soirée Party ...,Women's Casual Summer Sleeveless Sexy Mini Dress,8.0,22,EUR,20000,1,3.45,6135,2269.0,...,56458aa03a698c35c9050988,0,NaN,https://www.wish.com/c/58940d436a0d3d5da4e95a38,https://contestimg.wish.com/api/webimage/58940...,58940d436a0d3d5da4e95a38,summer,2020-08,250000.0,176.0
2,2020 Nouvelle Arrivée Femmes Printemps et Été ...,2020 New Arrival Women Spring and Summer Beach...,8.0,43,EUR,100,0,3.57,14,5.0,...,5d464a1ffdf7bc44ee933c65,0,NaN,https://www.wish.com/c/5ea10e2c617580260d55310a,https://contestimg.wish.com/api/webimage/5ea10...,5ea10e2c617580260d55310a,summer,2020-08,1250.0,344.0

In [29]:
df.price.sum()

13095.810000000001

In [31]:
newdf=df[['price', 'retail_price', 'currency_buyer',
       'units_sold', 'uses_ad_boosts', 'rating', 'rating_count',
       'rating_five_count', 'rating_four_count', 'rating_three_count',
       'rating_two_count', 'rating_one_count']]

In [32]:
newdf.head()

,price,retail_price,currency_buyer,units_sold,uses_ad_boosts,rating,rating_count,rating_five_count,rating_four_count,rating_three_count,rating_two_count,rating_one_count
0,16.00,14,EUR,100,0,3.76,54,26.0,8.0,10.0,1.0,9.0
1,8.00,22,EUR,20000,1,3.45,6135,2269.0,1027.0,1118.0,644.0,1077.0
2,8.00,43,EUR,100,0,3.57,14,5.0,4.0,2.0,0.0,3.0
3,8.00,8,EUR,5000,1,4.03,579,295.0,119.0,87.0,42.0,36.0
4,2.72,3,EUR,100,1,3.10,20,6.0,4.0,2.0,2.0,6.0

In [33]:
newdf.uses_ad_boosts.unique()

array([0, 1], dtype=int64)

In [35]:
newdf.uses_ad_boosts=newdf.uses_ad_boosts.astype(str).replace(['0','1'],['NO','YES'])

C:\Users\USER\AppData\Local\Temp\ipykernel_14076\188684743.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  newdf.uses_ad_boosts=newdf.uses_ad_boosts.astype(str).replace(['0','1'],['NO','YES'])

In [36]:
newdf.head()

,price,retail_price,currency_buyer,units_sold,uses_ad_boosts,rating,rating_count,rating_five_count,rating_four_count,rating_three_count,rating_two_count,rating_one_count
0,16.00,14,EUR,100,NO,3.76,54,26.0,8.0,10.0,1.0,9.0
1,8.00,22,EUR,20000,YES,3.45,6135,2269.0,1027.0,1118.0,644.0,1077.0
2,8.00,43,EUR,100,NO,3.57,14,5.0,4.0,2.0,0.0,3.0
3,8.00,8,EUR,5000,YES,4.03,579,295.0,119.0,87.0,42.0,36.0
4,2.72,3,EUR,100,YES,3.10,20,6.0,4.0,2.0,2.0,6.0

In [37]:
newdf['Profit']=newdf['retail_price'] - newdf['price']

C:\Users\USER\AppData\Local\Temp\ipykernel_14076\460217111.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  newdf['Profit']=newdf['retail_price'] - newdf['price']

In [38]:
newdf.head(3)

,price,retail_price,currency_buyer,units_sold,uses_ad_boosts,rating,rating_count,rating_five_count,rating_four_count,rating_three_count,rating_two_count,rating_one_count,Profit
0,16.0,14,EUR,100,NO,3.76,54,26.0,8.0,10.0,1.0,9.0,-2.0
1,8.0,22,EUR,20000,YES,3.45,6135,2269.0,1027.0,1118.0,644.0,1077.0,14.0
2,8.0,43,EUR,100,NO,3.57,14,5.0,4.0,2.0,0.0,3.0,35.0

In [39]:
newdf['TotalSales']=newdf['Profit'] * newdf['units_sold']

C:\Users\USER\AppData\Local\Temp\ipykernel_14076\740980337.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  newdf['TotalSales']=newdf['Profit'] * newdf['units_sold']

In [40]:
newdf.head(2)

,price,retail_price,currency_buyer,units_sold,uses_ad_boosts,rating,rating_count,rating_five_count,rating_four_count,rating_three_count,rating_two_count,rating_one_count,Profit,TotalSales
0,16.0,14,EUR,100,NO,3.76,54,26.0,8.0,10.0,1.0,9.0,-2.0,-200.0
1,8.0,22,EUR,20000,YES,3.45,6135,2269.0,1027.0,1118.0,644.0,1077.0,14.0,280000.0

In [41]:
newdf['Profit'].sum()

23537.19

In [42]:
newdf['TotalSales'].sum()

109206393.85

In [47]:
newdf[(newdf['uses_ad_boosts']=='NO') & (newdf['units_sold']>100)]

,price,retail_price,currency_buyer,units_sold,uses_ad_boosts,rating,rating_count,rating_five_count,rating_four_count,rating_three_count,rating_two_count,rating_one_count,Profit,TotalSales
6,7.00,6,EUR,50000,NO,3.84,6742,3172.0,1352.0,971.0,490.0,757.0,-1.00,-50000.0
7,12.00,11,EUR,1000,NO,3.76,286,120.0,56.0,61.0,18.0,31.0,-1.00,-1000.0
9,5.78,22,EUR,5000,NO,3.60,687,287.0,128.0,92.0,68.0,112.0,16.22,81100.0
10,5.79,5,EUR,1000,NO,3.46,613,245.0,101.0,81.0,61.0,125.0,-0.79,-790.0
13,5.79,42,EUR,1000,NO,3.32,121,36.0,24.0,23.0,19.0,19.0,36.21,36210.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1554,12.00,11,EUR,5000,NO,3.68,781,301.0,173.0,148.0,72.0,87.0,-1.00,-5000.0
1557,9.00,76,EUR,20000,NO,3.55,7088,2635.0,1394.0,1315.0,715.0,1029.0,67.00,1340000.0
1558,13.00,11,EUR,10000,NO,4.12,2901,1573.0,606.0,399.0,135.0,188.0,-2.00,-20000.0
1560,7.00,25,EUR,5000,NO,3.50,774,258.0,176.0,147.0,81.0,112.0,18.00,90000.0
1564,5.91,5,EUR,1000,NO,3.38,414,156.0,58.0,72.0,45.0,83.0,-0.91,-910.0